{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<style>
    h1 {
        color: black;
    }
</style>

<div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h1 style="color:yellow">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-primary">Купити</button>


</div>

{{!-- Селектор ОСТАННЬОЇ дитини - який вибирає ОСТАННІЙ тег,
якщо він є ОСТАННЬОЮ дитиною всередині батьківського тегу

Селектор першої дитини - який вибирає перший тег,
якщо він є першої дитиною всередині батьківського тегу

Це СЕЛЕКТОР ПСЕВДОКЛАС - це ключове слово, додане до звичайного
селектора, яке визначає його особливий стан
ЗАВЖДИ ДОДАЄТЬСЯ ЧЕРЕЗ (":") --}}

<ul class="p-5">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

{{!-- Селектор ОДИНИЧНОЇ дитини - який вибирає тег,
якщо він є ЄДИНОЮ дитиною всередині батьківського тегу
і після нього більше не існує інших дитячих тегів

Це СЕЛЕКТОР ПСЕВДОКЛАС - це ключове слово, додане до звичайного
селектора, яке визначає його особливий стан
ЗАВЖДИ ДОДАЄТЬСЯ ЧЕРЕЗ (":") --}}

<ul class="p-5">
    <li>Item Only 1</li>

</ul>

{{!-- Селектор ПЕРШОГО типу - який вибирає ПЕРШИЙ елемент
по заданому тегу серед своїх сусідських тегів --}}

<div class="p-5 div">
    <b class="item">First</b><br>
    <b class="item">Second</b>
    <p class="item">First</p>
    <p class="item">Second</p>
</div>

{{!-- Селектор ОСТАННЬОГО типу - який вибирає ОСТАННІЙ елемент
по заданому тегу серед своїх сусідських тегів --}}

<div class="p-5 div">
    <b class="item2">First</b> <br>
    <b class="item2">Second</b>
    <p class="item2">First</p>
    <p class="item2">Second</p>
</div>

{{!-- Селектор ОДИНИЧНОГО типу - який вибирає ОСТАННІЙ елемент
по заданому тегу якщо він є єдиним таким тегом серед сусідів --}}

<div class="p-5 div">
    <b class="item3">First</b> <br>
    <b class="item3">Second</b>
    <p class="item3">First</p>

</div>

{{!-- Селектор ПОРЯДКОВОЇ ДИТИНИ - який вибирає елемент
на основі їхньої позиції в батьківському елементі
Для цього треба вказати індекс серед братів і сестер

Можна вписувати
1. Числа (порядковий номер) - "1, 2, 3"
2. "even" - обирає парні елементи
3. "odd" - обирає НЕпарні елементи
4. Формули (3n+1) - обирає елементи по формулі в якій n - змінна
з порядковим номером елемента
--}}

<div class="p-5 div">
    <b class="item4">First</b>
    <p class="item4">First</p>
    <b class="item4">Second</b>
    <p class="item4">First</p>
    <p class="item4">First</p>

</div>

{{!-- Селектор зворотної порядкової дитини — це селектор, який
обирає елементи на основі їхньої позиції в батьківському
елементі, але підрахунок веде з кінця
Для цього треба вказати індекс (n) серед його n братів і сестер --}}

<div class="p-5 div">
    <b class="item5">First</b>
    <p class="item5">First</p>
    <b class="item5">Second</b>
    <p class="item5">First</p>
    <p class="item5">First</p>

</div>

{{!-- Селектор порядкового типу — це селектор, який обирає
елементи на основі їхньої позиції в батьківському елементі та
типу тегу по аналогії як інші селектори типу

Для цього треба вказати індекс ( ) серед його братів і сестер,
які мають спільний тип тегу --}}

<div class="p-5 div">
    <b class="item6">First</b>
    <p class="item6">First</p>
    <b class="item6">Second</b>
    <p class="item6">First</p>
    <p class="item6">First</p>

</div>

{{!-- Селектор зворотного порядкового типу — це селектор, який
обирає елементи на основі їхньої позиції в батьківському
елементі та типу тегу, але підрахунок веде з кінця

Для цього треба вказати індекс ( ) серед його братів і сестер,
які мають спільний тип тегу --}}

<div class="p-5 div">
    <b class="item7">First NOT</b>
    <p class="item7">First</p>
    <b class="item7">Second</b>
    <p class="item7">First</p>
    <p class="item7">First</p>

</div>

{{!-- Селектор невідповідності — це селектор, який обирає
елементи, які не відповідають вказаним селекторам
Для цього треба вказати в (s ) ті селектори,
які не повинні відповідати до елемента --}}

<div class="p-5 div">
    <b>First NOT</b>
    <p class="item8">First</p>
    <b class="item8">Second</b>
    <p class="item8">First</p>
    <p class="item8">First</p>

</div>

{{!-- Селектор пустого контенту — це селектор, який обирає
елементи, які не мають всередині контенту чи тегів --}}

<div class="p-5 div">
    <b class="item9">First NOT</b>
    <p class="item9">First</p>
    <b class="item9">Second</b>
    <p class="item9">First</p>
    <p class="item9">First</p>

</div>

{{!-- Селектор атрибутів — це тип селекторів, який дозволяє
вибирати елементи на основі їх атрибутів так їх значень
Селектор атрибута додається через квадратні дужки ("[]"),
всередині яких вказується селектор атрибута

Селектор назви атрибута — це селектор, який вибирає тег,
якщо він має вказаний атрибут
--}}

<div name="Les5" class="p-5 m-5 Les5">
    <input class="input-dark" required>

    <input class="input-dark">
</div>

{{!-- Селектор значення атрибута — це селектор, який вибирає тег,
якщо він має вказаний атрибут з вказаним значенням --}}

<div name="Les5" class="p-5 m-5 Les5">
    <input class="input-dark" required>

    <input class="input-dark" type="number">
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}