/* Абстракний тег root кий звертається до тегу HTML ш задає стиль для всієї сторінки */

:root {
  background: purple;
} 

html {
  max-width: 720px;

  background: blue;
}
  
/* Селектор тегу, який звертається до конкретного тегу та надає йому стиль */
body {
  background: #fff;
}

h1 {
  color: green;
}

/* Глобальний селектор яки надає стилі для всього файлу 
але має не головний пріорітет */

* {
  color: #666; 
}

/* Селектор класу який надає стилі для всіх тегів, які мають певний клас,
який був вказаний у селекторі. Він завжди починається з КРАПКИ!! */

.box {
  background: #aaa9a9
}


/* Челектор ідентифікатор цу селектор який надає стилі для всіх тегів,
які мають певний ідентифікатор, який був вказаний у селекторі.
  СЕЛЕКТОР ЗАВЖДИ ПОЧИНАЄТЬСЯ З ("#") І ЗА НИМ СЛІДУЄ ІМ'Я */

  #user {
    color: blue;
  }

/* Селектор першої дитини - який вибирає перший тег,
якщо він є першої дитиною всередині батьківського тегу 

Це СЕЛЕКТОР ПСЕВДОКЛАС - це ключове слово, додане до звичайного
 селектора, яке визначає його особливий стан 
 ЗАВЖДИ ДОДАЄТЬСЯ ЧЕРЕЗ (":")*/


li:first-child {
  color: yellow ;
}

ul {
  background: rgb(216, 190, 190);
}

/* Селектор ОСТАННЬОЇ дитини - який вибирає ОСТАННІЙ тег,
якщо він є ОСТАННЬОЮ дитиною всередині батьківського тегу 

Це СЕЛЕКТОР ПСЕВДОКЛАС - це ключове слово, додане до звичайного
 селектора, яке визначає його особливий стан 
 ЗАВЖДИ ДОДАЄТЬСЯ ЧЕРЕЗ (":")*/


li:last-child {
  color: yellowgreen ;
}


/* Селектор ОДИНИЧНОЇ дитини - який вибирає тег,
якщо він є ЄДИНОЮ дитиною всередині батьківського тегу
і після нього більше не існує інших дитячих тегів 

Це СЕЛЕКТОР ПСЕВДОКЛАС - це ключове слово, додане до звичайного
 селектора, яке визначає його особливий стан 
 ЗАВЖДИ ДОДАЄТЬСЯ ЧЕРЕЗ (":")*/


 li:only-child {
  color: palevioletred ;
}

/* Селектор ПЕРШОГО типу - який вибирає ПЕРШИЙ елемент
по заданому тегу серед своїх сусідських тегів */

.item:first-of-type {
  color:blue;
}

/* Селектор ОСТАННЬОГО типу - який вибирає ОСТАННІЙ елемент
по заданому тегу серед своїх сусідських тегів */

.div {
  background-color: brown;
}

.item2:last-of-type {
  color:blue;
}

/* Селектор ОДИНИЧНОГО типу - який вибирає ОСТАННІЙ елемент
по заданому тегу якщо він є єдиним таким тегом серед сусідів */


.item3:only-of-type {
  color:blue;
}

/* Селектор ПОРЯДКОВОЇ ДИТИНИ - який вибирає елемент
на основі їхньої позиції в батьківському елементі
Для цього треба вказати індекс серед братів і сестер

Можна вписувати
1. Числа (порядковий номер) - "1, 2, 3"
2. "even" - обирає парні елементи
3. "odd" - обирає НЕпарні елементи
4. Формули (3n+1) - обирає елементи по формулі в якій n - змінна
з порядковим номером елемента
*/


.item4:nth-child(4){
  color:blue;
}

/* Селектор зворотної порядкової дитини — це селектор, який
обирає елементи на основі їхньої позиції в батьківському
елементі, але підрахунок веде з кінця
Для цього треба вказати індекс (n) серед його n братів і сестер */

.item5:nth-last-child(2){
  color:blue;
}

/* Селектор порядкового типу — це селектор, який обирає
елементи на основі їхньої позиції в батьківському елементі та
типу тегу по аналогії як інші селектори типу

Для цього треба вказати індекс (n ) серед його братів і сестер,
які мають спільний тип тегу */

.item6:nth-of-type(3){
  color:blue;
}

/* Селектор зворотного порядкового типу — це селектор, який
обирає елементи на основі їхньої позиції в батьківському
елементі та типу тегу, але підрахунок веде з кінця

Для цього треба вказати індекс ( n) серед його братів і сестер,
які мають спільний тип тегу */

.item7:nth-last-of-type(1){
  color:blue;
}

/* Селектор невідповідності — це селектор, який обирає
елементи, які не відповідають вказаним селекторам
Для цього треба вказати в (s ) ті селектори,
які не повинні відповідати до елемента */

b:not(.item8) {
  color:blue;
}

/* Селектор пустого контенту — це селектор, який обирає
елементи, які не мають всередині контенту чи тегів */

b:empty {
  color:blue;
}

/* Селектор атрибутів — це тип селекторів, який дозволяє
вибирати елементи на основі їх атрибутів так їх значень
Селектор атрибута додається через квадратні дужки ("[]"),
всередині яких вказується селектор атрибута 

Селектор назви атрибута — це селектор, який вибирає тег,
якщо він має вказаний атрибут
*/

.Les5 {
  background: green;
}

.input-dark {
  background: lightcoral;
}

.input-dark[required] {
  background: rgb(0, 0, 0);
}

/* Селектор значення атрибута — це селектор, який вибирає тег,
якщо він має вказаний атрибут з вказаним значенням */

.input-dark[type="number"] {
  background: red;
}
