<div class="card_item">


    <div class="foto">
        <p class="badge" id="{{id}}">{{#if isNew}} NEW {{/if}} </p>
        <img src="{{photo}}" alt="photo" class="articles_photo">
    </div>
    <h3 class="articles_name">{{name}} </h3>
    <p class="articles_description">{{description}} </p>

    <a href="#" class="articles_button">Read All </a>
</div>